* {
  margin: 0;
  padding: 0;
  }

body{
  text-align: center;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.logo{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin: 50px auto;
}

.contacts ul {
  list-style-type: none;
  margin: 15px;
}

.about-text{
  padding: 5px 0;
  font-size: 20px;
}

h1{
  font-size: 30px;
  padding: 25px;
}
h2{
  font-size: 26px;
  margin: 25px;
}
p{
  text-align: center;
  font-size: 20px;
}
.skill ul li {
  padding: 5px;
  list-style-type: none;
}
.footer{
margin-top: 15px;
font-size: 10px;
}
il a {
  font-size: 20px;
}